<div class="row">
  <div class="col-md-12 text-center">
      <h1>Welcome to the Trump Countdown</h1>
      <p>The show is over in <%= @d.year %>!</p>
  </div>
</div>

<!-- Add links to dem party, ACLU, planned parenthood, science, register to vote, write your reps, etc -->