<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
      <h1>Welcome to the Trump Countdown</h1>
      <h2>This nonsense ends:</h2>
      <div id="time"></div>
      <h2>Time remaining:</h2>
      <div id="time-remaining"></div>
  </div>
  <div class="col-md-3"></div>
</div>

<!-- Add links to dem party, ACLU, planned parenthood, science, register to vote, write your reps, etc -->